:root {
    --color-Softred: hsl(7, 99%, 70%);
    --color-Yellow: hsl(51, 100%, 49%);
    --color-Darkdesaturatedcyangraphicdesigntext: hsl(167, 40%, 24%);
    --color-Darkbluephotographytext:hsl(198, 62%, 26%);
    --color-Darkmoderatecyanfooter:hsl(168, 34%, 41%);
    --color-Verydarkdesaturatedblue:hsl(212, 27%, 19%);
    --color-Verydarkgrayishblue: hsl(213, 9%, 39%);
    --color-Grayishblue: hsl(210, 4%, 67%);
    --color-White:hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  *, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-White);
  }

nav{
  /* width: 100%; */
  height: 10vh;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  list-style-type: none;
  display:grid;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fraunces', serif;
  color:var(--color-Verydarkdesaturatedblue)
}

p{
  font-family: 'Barlow', sans-serif;
  color: var(--color-Grayishblue);
}

div{
  display:grid;
  padding:0px;
  margin:0px;
}

.container{
    width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
}

.header-card{
  width: 100%;
  height:100%;
}

.hamburger:hover{
cursor: pointer;
}

  .img{
    width:100%;
  }

.heading{
display:grid;
justify-content: center;
grid-gap: 53px;
}

  .header-heading{
    justify-content: center;
    font-size: 2.7rem;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-top: 3rem;
    word-spacing: 7px;
    letter-spacing: 4px;
    text-transform:uppercase;
    color:var(--color-White);
  }

  .arrow{
    margin:0 auto;
  }

.menu{
  display: grid;
  max-width: 350px;
  width: 100%;
  height: 320px;
  background-color: var(--color-White);
  justify-self: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  bottom: -25px;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
transition: all 0.3s ease;
transform: scale(0);
}


.show-menu{
  visibility: visible;
  transform: scale(1);
}

.menu-link{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  color: var(--color-Grayishblue);
  text-transform: capitalize;
  font: 600;
  text-decoration: none;
  grid-gap: 20px;
  
}

.btn {
  width: 200px;
  height: 70px;
  border-radius: 30px;
  background-color: var(--color-Yellow);
  align-items: center;
}

.contact{
  color:#000;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  text-transform: capitalize;
  font: 600;
  text-decoration: none;
}

  .first-card, .second-card{
    display:grid;
    grid-gap: 70px;
    margin-bottom: 4rem;
  }

.egg{
  width:100%;
}

.first-text-container{
  text-align: center;
  text-align: -webkit-center;
  margin: 0  1.3rem;
  display:grid;
  grid-gap: 28px;
  text-indent: center;
}

.first-heading{
  font-size: 2.1rem;
  font-weight: 900;

}

.first-paragraph{
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.4;

}

.link .Learn-more:after , .Learn-more-two:after{
 
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;

}

.Learn-more,.Learn-more-two{
  text-align: center;
  font-family: 'Fraunces', serif;
  color:var(--color-Verydarkdesaturatedblue);
  font-size: 1.2rem;
  text-transform: uppercase;
  font: 900;
  text-decoration: none;
  position: relative;
  justify-self: center;
}



.Learn-more:after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  height: 8px;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  background-color:var(--color-Yellow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  opacity: 50%;
  z-index: -1;
}

.Learn-more:hover:after ,.Learn-more-two:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

.Learn-more-two:after {
  content: '';
  position: absolute;
  /* width: 60%; */
  transform: scaleX(0);
  height: 8px;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  background-color:var(--color-Softred);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  opacity: 50%;
  z-index: -1;
  
}



.third{
    width:100%;
    height: 600px;
    background-size: cover;
    background-image: url("images/mobile/image-graphic-design.jpg");
    position: relative;
}

.fourth{
  width:100%;
  height: 600px;
  background-size: cover;
  background-image: url("images/mobile/image-photography.jpg");
  position: relative;
}


.text-container,.fourth-text-container {
  position: absolute;
  padding: 0 1rem;
  top: 391px;
  display: grid;
  grid-gap: 25px;
}


 .third-heading, .fourth-heading {
   color:var(--color-Darkdesaturatedcyangraphicdesigntext);
   font-size: 2.1rem;
  text-align: center;
}


.third-paragraph, .fourth-paragraph{
  color:var(--color-Darkdesaturatedcyangraphicdesigntext);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

.fourth-heading, .fourth-paragraph{
  color:var(--color-Darkbluephotographytext);
}

.testimonials{
  width: 100%;
  padding: 5rem 2rem;
  display: grid;
  grid-gap: 70px;
  justify-items: center;
  align-items: center;
  background-color:#FEFBE7;
  
}

.card-testimonials{
  grid-gap: 75px;
}

.card{
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap:25px;
}

.client-img{
  width: 80px;
  border-radius: 50px;
}

.info{
  grid-gap:10px;
}

.fifth-heading{
  text-transform: uppercase;
  font-size: 1.2rem;
  word-spacing: 1.5px;
  letter-spacing: 3px;
  font-weight: 700;
  color: var(--color-Grayishblue);
}


.info-heading{
  font-size: 1.2rem;
  word-spacing: 1.5px;
  
  font-weight: 700;
  color: var(--color-Verydarkdesaturatedblue);
}

.info-paragraph{
  font-weight: 600;
  /* color: var(--color-Verydarkdesaturatedblue); */
}


.fifth-paragraph{
color: var(--color-Verydarkgrayishblue);
font-size: 1.1rem;
font-weight: 600;
letter-spacing: 0.2px;
line-height: 1.5;

}



.row{
display: flex;
}

.column-img{
  width: 100%;
}

footer{
  background-color: var(--color-Darkmoderatecyanfooter);
  padding: 5rem 0  2rem;
  /* display: grid; */
  justify-content: center;
  justify-items: center;
  
}

.grid{
  grid-gap: 40px;
}

.grid2{
  grid-gap: 60px;
}

.footer-logo{
  justify-content: center;
}

.footer-logo-img{
  width: 170px;
}

 .footer-menu{
  display:flex ;
  justify-content: space-evenly;
  
}

.footer-menu-link{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.4;
  text-decoration: none;
  color:var(--color-Darkdesaturatedcyangraphicdesigntext);
}

.social{
  display: flex;
  justify-content: center;
}

.social-img{
  margin: 1.1rem;
}

.img-desktop, .desktop-egg, .desktop-row, .desktop-menu{
  display: none;
}

br{
  display: none;
}

@media (min-width:768px) {

  

  br{
    display:block;
  }

  .img, .egg, .row{
    display: none;
  }

  .img-desktop, .desktop-egg, .desktop-row{
    display: block;
    width: 100%;
  }

  .heading{
    grid-gap: 20px;
  }

  .header-heading{
    font-size: 2rem;
  }

  .arrow{
    width: 26px;
  }


  .menu{
    bottom: -136px;
  }

.order{
  order: 1;
}

  .first-card, .second-card{
width: 100%;
display: flex;
grid-gap: 0;
margin: 0;
align-items: center;

  }


  .first-text-container{
  width: 100%;
  max-width: 334px;
    /* display:block; */
    text-align: left;

 
  }
  
  .first-heading{
    font-size: 1.5rem;
  }
  
  .first-paragraph{
    font-size: 14px;
  
  }
  
  .Learn-more,.Learn-more-two{
    text-align:left;
    font-size: 13px;
    justify-self: start;
  }
  
  .third{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/desktop/image-graphic-design.jpg");
    position: relative;
}

.fourth{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("images/desktop/image-photography.jpg");
  position: relative;
}

  .third-fourth{
    display:flex;
    height: 312px;
  }
  

  .text-container,.fourth-text-container {
   
    padding: 0 3rem;
    top: 177px;
    
    grid-gap: 12px;
  }
  
  
   .third-heading, .fourth-heading {
    
     font-size: 1.5rem;
    
  }
  
  
  .third-paragraph, .fourth-paragraph{
    
    font-size: 0.8rem;
  
    line-height: 1.5;
  }

  .testimonials {
   
    display: grid;
    grid-gap: 70px;
    justify-items: center;
    align-items: center;
   
}

.card-testimonials {
  display: flex;
  grid-gap: 23px;
}

.client-img {
  width: 65px;
  border-radius: 50px;
}

.fifth-paragraph {
  color: var(--color-Verydarkgrayishblue);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.info-heading {
  font-size: 1rem;
 
}

.info-paragraph {
  font-size: 0.8rem;
}

.desktop-row{
  display: flex;
  }
  
  .desktop-column{
    width: 30%;
  }
  .desktop-column-img{
    max-width: 195px;
  }
  

}

@media (min-width:1024px){

  ul {
    display: flex;
    grid-gap: 40px;
    align-items: center;
}

  .hamburger{
    display:none;
  }

.desktop-menu{
  display: flex;
  font-size: 14px;
 
}

.heading {
  grid-gap: 100px;
}

.header-heading {
  font-size: 2.2rem;
}

.arrow {
  width: 30px;
}

  
  .desktop-menu-link{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: var(--color-White);
    text-transform: capitalize;
    font: 600;
    text-decoration: none;
    grid-gap: 20px;
    
  }

  .desktop-contact-btn{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: #000;
    text-transform: capitalize;
    font: 600;
    text-decoration: none;
    grid-gap: 20px;
  }


  .desktop-btn {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--color-White);
    border: 1px   #000;
    align-items: center;
    justify-content: center;
}

 .desktop-btn:hover {
cursor: pointer;
background-color: var(--color-Yellow);
color: #FEFBE7;

}

.third-fourth {
  display: flex;
  height: 426px;
}



.first-text-container {
  max-width: 461px;
  padding-left: 4rem;
  padding-right: 4rem;
  grid-gap: 20px;
}
 
.text-container, .fourth-text-container {
  padding: 0 7rem;
  top: 290px;
  grid-gap: 12px;
}

.testimonials {
 padding: 5rem 5rem;
}

.card-testimonials {
  grid-gap: 50px;
}

.desktop-column-img {
  max-width: 257px;
}

.footer-menu {
  margin: 0 auto;
}

}

@media (min-width:1366px){


  .heading{
    grid-gap: 140px;
  }

  .header-heading {
    font-size: 2.4rem;
    margin-top: 5rem;
}

.arrow{
  width: 40px;
}

.first-text-container {
  max-width: 632px;
  padding-left: 6rem;
  padding-right: 6rem;
  grid-gap: 25px;
}

.first-heading {
  font-size: 2rem;
}

.first-paragraph {
  font-size: 1rem;
}

.text-container, .fourth-text-container {
  padding: 0 11rem;
  top: 385px;
  grid-gap: 12px;
}

.third-paragraph, .fourth-paragraph {
  font-size: 0.9rem;
}

.third-heading, .fourth-heading {
  font-size: 1.7rem;
}

.third-fourth {
  height: 561px;
}

.testimonials {
  padding: 9rem 10rem;
  grid-gap: 100px;
}
.card-testimonials {
  grid-gap: 85px;
}

.client-img {
  width: 70px;
}

.fifth-paragraph {
  font-size: 0.9rem;
}

.card {
  grid-gap: 40px;
}

.desktop-column-img {
  max-width: 337px;
}

}

@media (min-width:1440px){

  .first-text-container {
    max-width: 678px;
}

.desktop-column-img {
  max-width: 360px;
}

}